/*
Reset
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
input { -webkit-appearance: none; border-radius: 0; }
* { box-sizing: border-box; }


/*
Fonts
*/
/* ElenaBasic */
@font-face {
    font-family: 'ElenaBasic';
    font-weight: 400;
    src: url('../fonts/ElenaBasic/ElenaBasic-Regular.otf');
}
@font-face {
    font-family: 'ElenaBasic';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/ElenaBasic/ElenaBasic-RegularItalic.otf');
}
@font-face {
    font-family: 'ElenaBasic';
    font-weight: 700;
    src: url('../fonts/ElenaBasic/ElenaBasic-Bold.otf');
}
/* GothamCondSSm */
@font-face {
    font-family: 'GothamCondSSm';
    font-weight: 300;
    src: url('../fonts/GothamCondSSm/GothamCondSSm-Light.otf');
}
@font-face {
    font-family: 'GothamCondSSm';
    font-weight: 700;
    src: url('../fonts/GothamCondSSm/GothamCondSSm-Bold.otf');
}


/*
General
*/
body {
    background: #f2ebc7;
    background-image: url(../images/cream.png);
    background-size: 160px;
    font-family: 'ElenaBasic', sans-serif;
    min-width: 320px;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}


/*
Header
*/
header {
}
header .headlines {
    padding: 59px 0 0;
    position: relative;
}
header .headlines .background {
    background-image: url(../images/bg-money-bw-1000px-30q.jpg);
    background-size: cover;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}
header .headlines h1 {
    background-color: #003852;
    color: #fff;
    display: block;
    font-family: 'GothamCondSSm', sans-serif;
    font-size: 39px;
    font-weight: 300;
    letter-spacing: 0.32px;
    line-height: 47px;
    margin: 0;
    padding: 25px 16px 31px;
    position: relative;
    text-align: center;
}
header .headlines h1 .strong {
    display: block;
    font-weight: 700;
}
header .headlines .issued-by {
    height: 79px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 320px;
}
header .headlines .issued-by .circle {
    background-color: #fff;
    border-radius: 999px;
    height: 176px;
    position: absolute;
    right: 7px;
    top: -60px;
    width: 176px;
}
header .headlines .issued-by .text {
    position: absolute;
    top: 10px;
    right: 66px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1;
    font-family: 'GothamCondSSm', sans-serif;
}
header .headlines .issued-by .logo {
    position: absolute;
    width: 132px;
    top: 37px;
    right: 27px;
}


/*
Scorecard
*/
/*
Scorecard
*/
section.scorecard {
}
section.scorecard .intro {
    background-color: #fff;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 0 27px;
}
section.scorecard .intro .description {
    color: #353535;
    padding: 35px 20px 30px;
    line-height: 1.24;
    font-size: 15px;
    text-align: left;
    max-width: 520px;
    margin: 0 auto;
}
section.scorecard .intro .how {
    max-width: 520px;
    margin: 0 auto;
}
section.scorecard .intro .how h3 {
    background-color: #fff;
    border-radius: 55px 55px 0 0;
    border: 5px solid #41809f;
    border-bottom: none;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.7);
    color: #353535;
    font-family: 'GothamCondSSm', sans-serif;
    font-size: 30px;
    font-weight: 700;
    height: 106px;
    letter-spacing: 0.32px;
    line-height: 35px;
    margin: 0 0 0;
    padding: 17px 0 0;
    position: relative;
    text-align: center;
    z-index: 1;
}
section.scorecard .intro .how .blue {
    background-color: #41809f;
    color: #fff;
    font-family: 'ElenaBasic', sans-serif;
    font-size: 15px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
section.scorecard .intro .how .blue a {
    color: #fff;
}
section.scorecard .intro .how .blue > .text {
    padding: 31px 21px 32px;
}
section.scorecard .intro .how .blue .number {
    width: 53px;
    height: 53px;
    border-radius: 99px;
    background-color: #fff;
    left: -8px;
    position: absolute;;
}
section.scorecard .intro .how .blue .number .text {
    color: #41809f;
    font-family: 'GothamCondSSm', sans-serif;
    font-size: 37px;
    font-weight: 700;
    position: absolute;
    right: 6px;
    top: 6px;
}
section.scorecard .intro .how .blue .criteria-1 {
    height: 78px;
    padding: 0 0 0 69px;
}
section.scorecard .intro .how .blue .criteria-1 > .text {
    line-height: 1.24;
    padding: 11px 16px 0 0;
}
section.scorecard .intro .how .blue .criteria-2 {
    padding: 0 0 0 69px;
}
section.scorecard .intro .how .blue .criteria-2 > .text {
    padding: 21px 16px 0 0;
}
section.scorecard .intro .how .blue .criteria-2 .bullets {
    margin-top: 21px;
}
section.scorecard .intro .how .blue .criteria-2 .bullets .bullet {
    line-height: 1.24;
    margin-left: 35px;
    padding-bottom: 18px;
    padding-right: 16px;
    position: relative;
}
section.scorecard .intro .how .blue .criteria-2 .bullets .bullet:nth-child(3) {
    padding-bottom: 11px;
}
section.scorecard .intro .how .blue .criteria-2 .bullets .bullet::before {
    background-color: #fff;
    border-radius: 99px;
    content: ' ';
    display: block;
    height: 9px;
    left: -19px;
    position: absolute;
    top: 4px;
    width: 9px;
}
section.scorecard .intro .how .blue .criteria-3 {
    padding: 0 0 0 69px;
}
section.scorecard .intro .how .blue .criteria-3 > .text {
    line-height: 1.24;
    padding: 18px 16px 40px 0;
}
section.scorecard .grades {
    background-color: #fff;
    border-bottom: solid 54px #fff;
    margin: 0 auto;
    max-width: 900px;
}
section.scorecard .grades h3 {
    background-color: #70842e;
    border-radius: 55px 55px 0 0;
    border-bottom: none;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.7);
    color: #fff;
    font-family: 'GothamCondSSm', sans-serif;
    font-size: 33px;
    font-weight: 700;
    height: 65px;
    letter-spacing: 0.32px;
    line-height: 35px;
    margin: 0 0 0;
    padding: 17px 0 0;
    position: relative;
    text-align: center;
    z-index: 1;
}
section.scorecard .grades .candidates {
    background-color: #fff;
    box-shadow: inset 3px 1px 3px rgba(0, 0, 0, 0.14);
    padding: 30px 0 0;
}
section.scorecard .grades .candidates .candidate {
    cursor: pointer;
    min-height: 128px;
    position: relative;
}
section.scorecard .grades .candidates .candidate .portrait {
    display: block;
    height: 128px;
    width: 128px;
    position: absolute;
    left: 27px;
}
section.scorecard .grades .candidates .candidate .grade {
    height: 110px;
    position: absolute;
    right: 26px;
    top: 8px;
    width: 110px;
}
section.scorecard .grades .candidates .candidate .grade .circle-outer {
    background-color: #e43e39;
    border-radius: 99px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.32);
    height: 110px;
    position: absolute;
    width: 110px;
    z-index: 1;
}
section.scorecard .grades .candidates .candidate .grade .circle-inner {
    background-color: #e43e39;
    border-radius: 99px;
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.28);
    height: 92px;
    left: 9px;
    position: absolute;
    top: 9px;
    width: 92px;
    z-index: 2;
}
section.scorecard .grades .candidates .candidate.democrat .grade .circle-outer,
section.scorecard .grades .candidates .candidate.democrat .grade .circle-inner {
    background-color: #37b9cc;
}
section.scorecard .grades .candidates .candidate .grade .text {
    color: #fff;
    font-family: 'GothamCondSSm', sans-serif;
    font-size: 77px;
    font-weight: 700;
    height: 110px;
    left: 1px;
    line-height: 110px;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 110px;
    z-index: 3;
}
section.scorecard .grades .candidates .candidate .grade .text.minus,
section.scorecard .grades .candidates .candidate .grade .text.plus {
    left: 7px;
}
section.scorecard .grades .candidates .candidate .dropdown {
    padding-top: 128px;
}
section.scorecard .grades .candidates .candidate .dropdown .bar {
    background-color: #ebebeb;
    box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.1);
    height: 50px;
    overflow: hidden;
    position: relative;
}
section.scorecard .grades .candidates .candidate .dropdown .bar .name {
    float: left;
    font-family: 'GothamCondSSm', sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding: 9px 0 0 22px;
    position: relative;
}
section.scorecard .grades .candidates .candidate .dropdown .bar .party {
    float: left;
    font-family: 'GothamCondSSm', sans-serif;
    font-size: 22px;
    font-weight: 300;
    padding: 16px 0 0 10px;
    position: relative;
}
section.scorecard .grades .candidates .candidate .dropdown .bar .read-more {
    display: none;
}
section.scorecard .grades .candidates .candidate .dropdown .bar .arrow {
    height: 10px;
    position: absolute;
    top: 18px;
    width: 22px;
    right: 21px;
}
section.scorecard .grades .candidates .block {
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14);
    height: 32px;
    position: relative;
}
section.scorecard .disclaimer {
    background-color: #003852;
}
section.scorecard .disclaimer .wrapper {
    max-width: 900px;
    margin: 0 auto;
}
section.scorecard .disclaimer .description {
    color: #f6f4ea;
    font-size: 14px;
    line-height: 1.24;
    margin: 0 auto;
    padding: 17px 21px 32px;
    text-align: left;
}
section.scorecard .disclaimer .description a {
    color: inherit;
    text-decoration: none;
}
section.scorecard .disclaimer .logo {
    margin: 0 0 27px 53px;
    position: relative;
    width: 215px;
}
section.scorecard .photo-credits {
    color: #353535;
    font-size: 12px;
    padding: 15px 26px 13px;
    line-height: 1.24;
}
section.scorecard .photo-credits a {
    color: inherit;
}

/*
Responsive styles for Desktop
*/
@media (min-width: 440px) {
    section.scorecard .grades .candidates .candidate .grade {
        left: 303px;
        right: auto;
    }
}

@media (min-width: 500px) {
    section.scorecard .grades .candidates .candidate .grade {
        left: auto;
        right: 87px;
    }
}

@media (min-width: 664px) {
    section.scorecard .grades {
        padding: 0;
    }

    section.scorecard .grades h3 {
        margin-left: calc((100% - 644px) / 2);
        width: 320px;
    }

    section.scorecard .grades .candidates {
        box-shadow: none;
        margin-left: calc((100% - 644px) / 2);
        padding-top: 0;
        width: 644px;
    }

    section.scorecard .grades .candidates .candidate {
        box-shadow: inset 1.4px 1.4px 6px rgba(0, 0, 0, 0.2);
    }

    section.scorecard .grades .candidates .candidate .grade {
        left: auto;
        right: 87px;
        top: 9px;
    }

    section.scorecard .grades .candidates .candidate .dropdown {
        padding-top: 0;
    }

    section.scorecard .grades .candidates .candidate .dropdown .bar {
        background-color: transparent;
        box-shadow: none;
        height: 128px;
    }

    section.scorecard .grades .candidates .candidate .dropdown .bar .name {
        padding: 47px 0 0 177px;
    }

    section.scorecard .grades .candidates .candidate .dropdown .bar .party {
        padding: 54px 0 0 11px;
    }

    section.scorecard .grades .candidates .candidate .dropdown .bar .arrow {
        right: 31px;
        top: 108px;
    }

    section.scorecard .grades .candidates .candidate .dropdown .bar .read-more {
        display: block;
        position: absolute;
        right: 15px;
        top: 86px;
        font-family: 'GothamCondSSm', sans-serif;
        font-weight: 700;
        color: #313640;
        font-size: 16px;
    }

    section.scorecard .grades .candidates .block {
        box-shadow: none;
        height: 19px;
    }
}

@media (min-width: 940px) {
    header .headlines {
        padding: 55px 0 0;
    }

    header .headlines h1 {
        font-size: 49px;
        line-height: 58px;
        padding: 16px 16px 16px;
    }

    section.scorecard .intro {
        overflow: hidden;
        padding: 0 0 40px;
    }

    section.scorecard .intro .description {
        float: left;
        font-size: 19px;
        padding: 61px 45px 30px 64px;
        width: 432px;
    }

    section.scorecard .intro .how {
        float: right;
        margin: 34px 49px 0 0;
        box-shadow: 2px -1px 4px rgba(0, 0, 0, 0.6);
        width: 418px;
        border-radius: 55px 55px 0 0;
    }

    section.scorecard .intro .how h3 {
        box-shadow: none;
    }

    section.scorecard .grades {
        padding: 0 63px;
        border-bottom: solid 74px #fff;
    }

    section.scorecard .grades h3 {
        margin-left: 0;
    }

    section.scorecard .grades .candidates {
        margin-left: 0;
    }

    section.scorecard .disclaimer .description {
        padding: 17px 64px 36px;
    }

    section.scorecard .disclaimer .logo {
        margin: 0 0 25px 64px;
        position: relative;
        width: 215px;
    }

    section.scorecard .photo-credits {
        padding: 24px 64px 13px;
        max-width: 900px;
        margin: 0 auto;
    }
}
